<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QRCode by dongzj</title>
</head>
<body>
<div>
    <div style="position: relative;">
        <a id="click-create"  data-loading-text="正在生成..." hidefocus="true" href="javascript:void(0);">生成二维码</a>
    </div>
    <div id="textarea-box" style="display: grid">
        <textarea id="text-content" style="height:300px;font-size: 22px" name="text" placeholder="&nbsp;请输入文字内容"></textarea>
    </div>
</div>
</body>
</html>

<script>
    function create() {
        
    }
</script>